POSTGRES_USER=
POSTGRES_PASSWORD=

POSTGRES_DB=
KEYCLOAK_DB=

KC_ADMIN_USER=
KC_ADMIN_PASSWORD=

QDRANT_HOST=qdrant

DATABASE_URL=postgresql://user:password@localhost:5432/yourdb

OLLAMA_BASE_URL=http://ollama:11434

FORM_API_URL=http://technobrain:3000

NEXT_PUBLIC_NEXUS_URL=http://localhost:8000
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAADg9w8bhj7oNCTss
